body {
	color: #444;
	font-family: Arial, sans-serif;
	line-height: 1.2;
	max-width: 720px;
	margin: auto;
	padding: 16px;
}

h1 {
	font-family: Baskerville, serif;
	font-weight: normal;
}


li {
	margin: 16px 0;
}
