@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
	color: #333;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
	max-width: 720px;
	margin: auto;
	padding: 1em;
}

#profile_pic {
	float: right;
	width: 130px;
}

h1, h2 {
	color: #000;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Cambria, Georgia, serif;
	font-weight: normal;
}

h1 {
	font-size: 3rem;
	margin-top: 2.0rem;
	margin-bottom: 1.0rem;
	line-height: 1.0;
}

h2 {
	font-size: 2rem;
	margin-top: 3rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-weight: normal;
}

th {
	padding: 0 1rem;
	text-align: right;
	font-weight: 600;
}

li {
	margin: 1rem 0;
}

a {
	color: green;
	text-decoration: none;
}

a:active, a:focus, a:hover {
	border-bottom: solid 2px;
}

a:visited {
	color: green;
}

u {
	text-decoration: none;
	border-bottom: 1px solid black;
}

b {
	font-weight: 600;
}

footer {
	margin-top: 3rem;
	color: #888;
	font-size: 0.9rem;
	text-align: center;
}

