@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
	background-image: url("assets/bg.jpg");
	background-size: cover;
	/* background-size: 100vw auto; */
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-repeat: no-repeat; */
	/* background-position: center auto; */
	color: #444;
	font-family: "Open Sans", serif;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 720px;
	margin: auto;
	padding: 0.75rem;
}

.container {
  position: relative;
  z-index: 1;
  padding: 20px;
  /* color: #fff; */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.98);
}

h1, h2 {
	font-family: "Libre Baskerville", Georgia, serif;
	/* font-family: Georgia, serif; */
	font-weight: normal;
	color: #000;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.75rem;
}

li {
	margin: 1rem 0;
}

a {
	/* font-weight: bold; */
	text-decoration: none;
}

a:active, a:focus, a:hover {
	border-bottom: solid;
}

u {
    text-decoration: none;
    border-bottom: 2px solid black;
}

b {
	font-weight: 600;
}

